.emptyList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1.5rem;
    gap: 1rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.emptyList img {
    width: 56px;
    height: 56px;
}

.emptyListInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptyListInfo span {
    color: var(--gray-300);
    font-size: 1rem;
    line-height: 1.4;
}

.emptyListInfo span:first-child {
    font-weight: 700;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}