.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    background-color: var(--gray-500);
    gap: 0.75rem;
}

.taskDone {
    border: 1px solid var(--gray-400);
}

.taskDone > div > span {
    color: var(--gray-300);
    text-decoration: line-through;
}

.content {
    display: flex;
    gap: 0.75rem;
}

.text {
    font-size: 0.875rem;
    transition: 0.5s;
    color: var(--gray-100);
}

.checkboxChecked {
    transition: 0.5s;
    flex: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    color: var(--purple-dark);
}

.checkboxChecked svg {
    width: 22px;
    height: 22px;
}

.checkboxChecked:hover {
    color: var(--purple);
}

.checkboxUnchecked {
    transition: 0.5s;
    flex: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    color: var(--blue);
}

.checkboxUnchecked svg {
    width: 22px;
    height: 22px;
}

.checkboxUnchecked:hover {
    color: var(--blue-dark);
}

.checkboxUnchecked:hover svg path:first-child {
    opacity: 0.2;
}

.trash {
    transition: 0.5s;
    flex: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    color: var(--gray-300);
    border-radius: 4px;
}

.trash:hover {
    color: var(--danger);
}

.trash:hover rect {
    fill: var(--gray-400);
}